* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #636363;
}

.content {
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 321px) {
    .content {
        width: 95vw;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}