/* formatacao da pokedex */
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    list-style: none;
    max-width: 100%;
}
/* lista de types dos pokemons */
.normal {background-color: #C3B59B;}
.fighting {background-color: #bc1e2c;}
.flying {background-color: #c2b7d9;}
.poison {background-color: #91288d;}
.ground {background-color: #ffcc69;}
.rock {background-color: #c39a6e;}
.bug {background-color: #aacf4e;}
.ghost {background-color: #877299;}
.steel {background-color: #a1abb4;}
.fire {background-color: #e99a3a;}
.water {background-color: #26a5d3;}
.grass {background-color: #7ec48a;}
.electric {background-color: #fadc30;}
.psychic {background-color: #ec2b7a;}
.ice {background-color: #a3dcf7;}
.dragon {background-color: #4d2f8f;}
.dark {background-color: #3e2417;}
.fairy {background-color: #f392bd;}
.unknown {background-color: #c0c0c0;}
.shadow {background-color: #292929;}

/* formatacao de cada pokemon */
.pokemon {
    background-image: url(/assets/img/pokeball-backgroud.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    transition: 0.3s;
}
.pokemon:hover {
    transform: scale(1.02);
    filter:brightness(1.05);

}
.pokemon .number {
    font-family: 'Mikado', sans-serif;
    color: black;
    text-align: right;
    opacity: .3;
    font-size: 1rem;
}
.pokemon .name {
    font-size:1.3rem;
    margin-bottom: .3rem;
    text-transform: capitalize;

}
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .detail .types {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.pokemon .detail .types .type-backgroud{
    min-width: 4rem;
    margin: .25rem;
    margin-bottom: .5rem;
    padding: .5rem .5rem;  
    border-radius: 1rem;
    background-color: rgb(255, 255, 255, 0.2);     
}
.pokemon .detail .types .type-content{ 
    color: white;
    font-size: .7rem;
    text-align: center;
 
}

.pokemon .detail .stats {
    margin: 0;
    padding: .3rem;
    list-style: none;
    font-size: .7rem;  
    background-color: white;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255, 0.2);  
}

.pokemon .detail .stats .stat{
    color: #ffffff;
    padding: .2rem;
}

.pokemon .detail img {
    width: 20vh;
    align-self: self-end;
    transition: 0.3s;
}


/* =/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/ */
/* Janela Modal - tipo de janela flutuante para mostrar os status dos pokemons */
.stats-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow: hidden;
}
/* a formatação devem ser junta ".classe.classe" quando precisa que uma classe pertença a outra, sem parentalidade  */
.stats-modal.open-modal {
    display: flex;
}
.stats-modal .stat-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ab8ec4;
    color: white;
    border: none;
    border-radius: 2rem;
    border-bottom: .3rem solid #5d496e;
    transition: 0.3s;
}

.stats-modal .stat-close-btn:hover {
    border-bottom-width: 0;
    transform: translateY(.3rem);
}


.stats-modal .stat-modal {
    padding: .5rem;
    width: 60%;
    min-width: 310px;
    background-color: #ffffff69;
    backdrop-filter: blur(10px);
    border-radius: 1rem;

}

/* @keyframes são as regras para animação da pagina */
@keyframes open-modal {
    from{
        opacity: 0;
        transform: translate3d(20px, -20px, -20px);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.open-modal .stat-modal {
    animation: open-modal 0.2s;
}
/* =/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/ */


/* formatacao do botao 'Load More' */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination #loadMoreButton {
    height: 3rem;
    width: 10rem;
    background-color: #ab8ec4;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    border-bottom: .3rem solid #5d496e;
    transition: 0.3s;
}
.pagination #loadMoreButton:hover {
    border-bottom-width: 0;
    transform: translateY(.3rem);
}
/* dimensionamento de telas (mobile first) */
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
